body{
    
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

.weatherwidget-io{
    width: auto;
    background: transparent;
    float: inherit;
}

iframe{
    float: right;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A99260;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #041E43;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:transparent;
  color: white;
  float: left;
  border: none;
}

.openbtn:hover {
  background-color: #A99260;
}

nav {
  max-width: 2020px;
  margin: 0 auto;
    background: #A99260;
  
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
    text-align: right;
}

nav ul li a, nav a {
  padding: 18px;
    padding-right: 20px;
    text-align: center;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: #041E43;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

nav ul li a:hover, nav a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
    
}


textarea{
    padding: 15px;
    background: transparent;
    position: inherit;
    border-color: #A99260;
    color: #A99260;
}

textarea:focus{
    background: #fff;
     color:black;
}

textarea:placeholder-shown{
    text-align: center;
    font-style: oblique;
}

.saveButton{
 text-align: center;
    padding-top: 15px;
}

.saveButton:hover{
   box-shadow:0px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}